<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>POKEDEX</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<header >
    <h1 class="fw-bold text-center text-warning">National Pokédex</h1>
</header>
<main class="container">
    <div class="mb-3 text-center text-dark" >
    <form action="#" th:action="@{/pokemonInfo/search}" method="post" th:object="${pokemon}" >
        <label for="name" class="fw-bold" ><h2 class="text-secondary">Enter Pokémon name or Pokédex Entry</h2></label>
        <input type="text" id="name" th:field="*{name}" required class="form-control">
        <hr>
          <button class="btn btn-outline-info">Search</button>
    </form>
    </div>
    <table class="rounded overflow-hidden table table-dark table-striped text-center align-middle">
        <thead>
        <tr>
            <th>Name :</th>
            <th> National Pokédex Index Number :</th>
            <th>Type(s) :</th>
            <th>Abilities :</th>
            <th>Appearance :</th>
            <th>Size :</th>
            <th>Height :</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="*{pokemon.name}"></td>
            <td th:text="*{pokemon.nationalPokedexNumber}"></td>
            <td th:text="*{pokemon.types}"></td>
            <td th:text="*{pokemon.abilities}"></td>
            <td ><img th:src="*{pokemon.pokemonImageUrl}" alt="img"></td>
            <td th:text="*{pokemon.size}"></td>
            <td th:text="*{pokemon.weight}"></td>
        </tr>
        </tbody>
    </table>
    <p th:if="${pokemon == null}"> Pokémon not found :(</p>
    <hr>
    <div id ="footNav" class="text-center">
        <a th:href="@{/pokemonInfo/{name}(name =${pokemon.nationalPokedexNumber -1})}"><button th:unless="${pokemon.nationalPokedexNumber == 1}" class="btn btn-outline-dark">prev</button></a>
        <a th:href="@{/pokemonInfo/{name}(name =${pokemon.nationalPokedexNumber+1})}"><button th:unless="${pokemon.nationalPokedexNumber == 1017}" class="btn btn-dark">next</button></a>
    </div>
</main>

</body>
</html>